@charset "utf-8";
body {
margin: 0;
}
.clearfix::after {
content: "";
display: block;
clear: both;
}
.clear_box {
clear: none;
}
.red--box {
width: 400px;
height: 100px;
background: #ff0000;
}
.green--box {
width: 150px;
height: 250px;
background: #00ff51;
float: left;
}
.pink--box {
width: 150px;
height: 50px;
background: #cc00db;
float: left;
}
.blue--box {
width: 150px;
height: 100px;
background: #0093b7;
float: left;
}
.orange--box {
width: 100px;
height: 150px;
background: #ff9e6b;
float: left;
}
.brown--box {
width: 250px;
height: 100px;
background: #8e2727;
float: left;
}
.yellow--box {
width: 400px;
height: 100px;
background: #fff700;
}