@charset "utf-8";
body {
margin: 0;
}
.clearfix::after {
content: "";
display: block;
clear: both;
}
.red--box {
width: 400px;
height: 100px;
background: #ff0000;
}
.green--box {
width: 150px;
height: 250px;
background: #00ff1e;
float: left;
}
.blue--box {
width: 250px;
height: 250px;
background: #3300ff;
float: left;
}
.yellow--box {
width: 400px;
height: 100px;
background: #ffe600;
}